.welcome {
  width: 0px;
  height: 220px;
  margin: auto;
  left: 0; right: 0;
  bottom: 0; top: 0;
  position: absolute;
  &.open {
    width: 300px;
  }
  .welcome-btn {
    height: 100px;
    background: #232323;
    color: white;
    p {
      margin: 0 auto;
      padding-bottom: 1px;
      line-height: 100px;
      text-align: center;
      font-size: 13px;
      cursor: pointer;
    }
    &.upload {
      background: transparent;
      margin-bottom: 10px;
      background: #232323;
      position: relative;
      #uploadedPdfw {
        cursor: pointer;
        width: 100%;
        height: 100px;
        left: 0; top: 0;
        opacity: 0;
        position: absolute;
      }
    }
    &.load {
      margin-top: 10px;
    }
  } 
}