.welcome {
  width: 200px;
  height: 200px;
  margin: auto;
  left: 0; right: 0;
  bottom: 0; top: 0;
  position: absolute;
  &.open {

  }
  &.close {

  }

  .welcome-btn {
    height: 100px;
    p {
      margin: 0 auto;
      padding-bottom: 1px;
      line-height: 100px;
      text-align: center;
      font-size: 13px;
    }
    &.upload {
      background: transparent;
      position: relative;
      #uploadedPdf {
        cursor: pointer;
        width: 100%;
        height: 100px;
        left: 0; top: 0;
        opacity: 0;
        position: absolute;
      }
    }
    &.load {

    }
  } 
}