.dark {
  .btn, .btn-pg-search input {
    background: #232323;
    color: white;
  }
}

.light {
  .btn, .btn-pg-search input {
    background: white;
    color: #232323;
  }
}

.btn {
  height: 35px;
  width: 150px;
  float: left;  
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  color: white;
  p{
    margin: 0 auto;
    font-size: 1em;
    font-size: 13px;
  }
  &.sm {
    width: 50px;
  }
  &.md {
    width: 100px;
  }
  &.btn-pg-search {
    input {
      width: 100%;
      margin: 0;
      border: 0;
      height: 35px;
      padding: 0 5px;
      text-align: center;
      box-sizing: border-box;
    }
  }
}