.container, #uploadedPdf {
  height: 47px;
  width: 263px;
}

#uploadedPdf {
  opacity: 0;
  position: absolute;
}

.container {
  background: transparent;
  ::after{
    // content: 'Upload'
  }
  position: relative;
}

